How To Call Kubernetes API using Go - Types and Common Machinery.html
install_kubernetes_with_kubeadm/
jq.md
# what the hell is this broken script for?!
test.sh

?
*.yamlk
*.cmds
*poli*
# this is for expenses
booking
# symlinks
install_kubernetes_with_ansible/kubernetes-ansible
# always ignore
logs
backup
.DS_Store
*.log
# PDFs
# (listed individually so I can see if I've missed downloading any)
Kubernetes+-CKA-+0100+-+Core+Concepts.pdf
Kubernetes-taints-tolerations.pdf
kubernetes-services-updated.pdf
Kubernetes+-CKA-+0200+-+Scheduling.pdf
Udemy+-+Kubernetes+-CKAD-+taints-tolerations.pdf
Kubernetes+-CKA-+0300+-+Logging-Monitoring.pdf
Kubernetes+-CKA-+0400+-+Application+Lifecycle+Management.pdf
Kubernetes+-CKA-+0500+-+Cluster+Maintenance-v1.2.pdf
Kubernetes+-CKA-+0600+-+Security.pdf
troubleshooting-kubernetes.v2.pdf
Kubernetes+-CKA-+0700+-+Storage.pdf
Networking.pdf
Kubernetes+-CKA-+0800+-+Networking-v1.2.pdf
Ingress.pdf
Kubernetes+-CKA-+0900+-+Install-v1.4.pdf
Kubernetes+-CKA-+1000+-+Troubleshooting.pdf
